
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/v17/.futdcache.v1
.vs/BookshopApp/v17/.suo
UIMockup/obj/Debug/net6.0-windows/UC/NavUC.baml
UIMockup/obj/Debug/net6.0-windows/MainWindow.baml
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.cs
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.i.cs
UIMockup/obj/Debug/net6.0-windows/NavUC.g.i.cs
UIMockup/obj/Debug/net6.0-windows/UC/NavUC.g.cs
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.i.cs
UIMockup/obj/Debug/net6.0-windows/ref/UIMockup.dll
UIMockup/obj/Debug/net6.0-windows/UC/NavUC.g.i.cs
UIMockup/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.cs
UIMockup/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.i.cs
UIMockup/obj/Debug/net6.0-windows/MainWindow.baml
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.cs
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.i.cs
UIMockup/obj/Debug/net6.0-windows/ref/UIMockup.dll
UIMockup/obj/Debug/net6.0-windows/UIMockup.csproj.CoreCompileInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup.csproj.FileListAbsolute.txt
UIMockup/obj/Debug/net6.0-windows/UIMockup.dll
UIMockup/obj/Debug/net6.0-windows/UIMockup.g.resources
UIMockup/obj/Debug/net6.0-windows/UIMockup.pdb
UIMockup/obj/Debug/net6.0-windows/UIMockup_0odrvtb1_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_0odrvtb1_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_0odrvtb1_wpftmp.assets.cache
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/v17/.futdcache.v1
.vs/BookshopApp/v17/.suo
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.i.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_MarkupCompile.i.cache
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/project-colors.json
.vs/BookshopApp/v17/.futdcache.v1
.vs/BookshopApp/v17/.suo
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/v17/.futdcache.v1
.vs/BookshopApp/v17/.suo
UIMockup/obj/Debug/net6.0-windows/UIMockup_ji1nejap_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_ji1nejap_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_ji1nejap_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_0htng2mz_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_0htng2mz_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_0htng2mz_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_0htng2mz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_1yhssgyz_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_1yhssgyz_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_1yhssgyz_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_1yhssgyz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_4ra2xjra_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_4ra2xjra_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_4ra2xjra_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_4ra2xjra_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_53gpjmjy_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_53gpjmjy_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_53gpjmjy_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_53gpjmjy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_cv21nf0o_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_cv21nf0o_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_cv21nf0o_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_cv21nf0o_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_ddzwnvax_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_ddzwnvax_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_ddzwnvax_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_ddzwnvax_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_fxnagjuk_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_fxnagjuk_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_fxnagjuk_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_fxnagjuk_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_ji1nejap_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_mt0l03fp_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_mt0l03fp_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_mt0l03fp_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_mt0l03fp_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_ncfmpyca_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_ncfmpyca_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_ncfmpyca_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_ncfmpyca_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_vzkbwpfv_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_vzkbwpfv_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_vzkbwpfv_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_vzkbwpfv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_xumzdhiq_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_xumzdhiq_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_xumzdhiq_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_xumzdhiq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_zuzruf3x_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_zuzruf3x_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/UIMockup_4ra2xjra_wpftmp.csproj.nuget.dgspec.json
UIMockup/obj/UIMockup_4ra2xjra_wpftmp.csproj.nuget.g.props
UIMockup/obj/UIMockup_4ra2xjra_wpftmp.csproj.nuget.g.targets
UIMockup/obj/UIMockup_53gpjmjy_wpftmp.csproj.nuget.dgspec.json
UIMockup/obj/UIMockup_53gpjmjy_wpftmp.csproj.nuget.g.props
UIMockup/obj/UIMockup_53gpjmjy_wpftmp.csproj.nuget.g.targets
UIMockup/obj/UIMockup_ji1nejap_wpftmp.csproj.nuget.dgspec.json
UIMockup/obj/UIMockup_ji1nejap_wpftmp.csproj.nuget.g.props
UIMockup/obj/UIMockup_ji1nejap_wpftmp.csproj.nuget.g.targets
UIMockup/obj/UIMockup_ncfmpyca_wpftmp.csproj.nuget.dgspec.json
UIMockup/obj/UIMockup_ncfmpyca_wpftmp.csproj.nuget.g.props
UIMockup/obj/UIMockup_ncfmpyca_wpftmp.csproj.nuget.g.targets
UIMockup/obj/UIMockup_vzkbwpfv_wpftmp.csproj.nuget.dgspec.json
UIMockup/obj/UIMockup_vzkbwpfv_wpftmp.csproj.nuget.g.props
UIMockup/obj/UIMockup_vzkbwpfv_wpftmp.csproj.nuget.g.targets
UIMockup/obj/UIMockup_zuzruf3x_wpftmp.csproj.nuget.dgspec.json
UIMockup/obj/UIMockup_zuzruf3x_wpftmp.csproj.nuget.g.props
UIMockup/obj/UIMockup_zuzruf3x_wpftmp.csproj.nuget.g.targets
UserControls/bin/Debug/net6.0-windows/ref/UserControls.dll
UserControls/bin/Debug/net6.0-windows/UserControls.deps.json
UserControls/bin/Debug/net6.0-windows/UserControls.dll
UserControls/bin/Debug/net6.0-windows/UserControls.pdb
UserControls/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
UserControls/obj/Debug/net6.0-windows/ref/UserControls.dll
UserControls/obj/Debug/net6.0-windows/UserControls.AssemblyInfo.cs
UserControls/obj/Debug/net6.0-windows/UserControls.AssemblyInfoInputs.cache
UserControls/obj/Debug/net6.0-windows/UserControls.assets.cache
UserControls/obj/Debug/net6.0-windows/UserControls.csproj.AssemblyReference.cache
UserControls/obj/Debug/net6.0-windows/UserControls.csproj.CoreCompileInputs.cache
UserControls/obj/Debug/net6.0-windows/UserControls.csproj.FileListAbsolute.txt
UserControls/obj/Debug/net6.0-windows/UserControls.designer.deps.json
UserControls/obj/Debug/net6.0-windows/UserControls.designer.runtimeconfig.json
UserControls/obj/Debug/net6.0-windows/UserControls.dll
UserControls/obj/Debug/net6.0-windows/UserControls.g.resources
UserControls/obj/Debug/net6.0-windows/UserControls.GeneratedMSBuildEditorConfig.editorconfig
UserControls/obj/Debug/net6.0-windows/UserControls.pdb
UserControls/obj/Debug/net6.0-windows/UserControls_gxjkckin_wpftmp.AssemblyInfo.cs
UserControls/obj/Debug/net6.0-windows/UserControls_gxjkckin_wpftmp.AssemblyInfoInputs.cache
UserControls/obj/Debug/net6.0-windows/UserControls_gxjkckin_wpftmp.assets.cache
UserControls/obj/Debug/net6.0-windows/UserControls_gxjkckin_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UserControls/obj/Debug/net6.0-windows/UserControls_MarkupCompile.cache
UserControls/obj/Debug/net6.0-windows/UserControls_MarkupCompile.i.cache
UserControls/obj/Debug/net6.0-windows/UserControls_MarkupCompile.i.lref
UserControls/obj/Debug/net6.0-windows/UserControls_MarkupCompile.lref
UserControls/obj/Debug/net6.0-windows/UserControls_pff5h3ng_wpftmp.AssemblyInfo.cs
UserControls/obj/Debug/net6.0-windows/UserControls_pff5h3ng_wpftmp.AssemblyInfoInputs.cache
UserControls/obj/Debug/net6.0-windows/UserControls_pff5h3ng_wpftmp.assets.cache
UserControls/obj/Debug/net6.0-windows/UserControls_pff5h3ng_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UserControls/obj/Debug/net6.0-windows/UserControls_sc03233u_wpftmp.AssemblyInfo.cs
UserControls/obj/Debug/net6.0-windows/UserControls_sc03233u_wpftmp.AssemblyInfoInputs.cache
UserControls/obj/Debug/net6.0-windows/UserControls_sc03233u_wpftmp.assets.cache
UserControls/obj/Debug/net6.0-windows/UserControls_sc03233u_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UserControls/obj/Debug/net6.0-windows/StockView.baml
UserControls/obj/Debug/net6.0-windows/StockView.g.cs
UserControls/obj/Debug/net6.0-windows/StockView.g.i.cs
UserControls/obj/project.assets.json
UserControls/obj/project.nuget.cache
UserControls/obj/UserControls.csproj.nuget.dgspec.json
UserControls/obj/UserControls.csproj.nuget.g.props
UserControls/obj/UserControls.csproj.nuget.g.targets
StockView/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StockView/obj/Debug/net6.0-windows/StockView.AssemblyInfo.cs
StockView/obj/Debug/net6.0-windows/StockView.AssemblyInfoInputs.cache
StockView/obj/Debug/net6.0-windows/StockView.assets.cache
StockView/obj/Debug/net6.0-windows/StockView.csproj.AssemblyReference.cache
StockView/obj/Debug/net6.0-windows/StockView.csproj.FileListAbsolute.txt
StockView/obj/Debug/net6.0-windows/StockView.g.cs
StockView/obj/Debug/net6.0-windows/StockView.g.i.cs
StockView/obj/Debug/net6.0-windows/StockView.GeneratedMSBuildEditorConfig.editorconfig
StockView/obj/Debug/net6.0-windows/StockView_fu4oycfu_wpftmp.AssemblyInfo.cs
StockView/obj/Debug/net6.0-windows/StockView_fu4oycfu_wpftmp.AssemblyInfoInputs.cache
StockView/obj/Debug/net6.0-windows/StockView_fu4oycfu_wpftmp.assets.cache
StockView/obj/Debug/net6.0-windows/StockView_fu4oycfu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
StockView/obj/Debug/net6.0-windows/StockView_MarkupCompile.cache
StockView/obj/Debug/net6.0-windows/StockView_MarkupCompile.i.cache
StockView/obj/Debug/net6.0-windows/StockView_MarkupCompile.lref
StockView/obj/Debug/net6.0-windows/StockView_osxss33x_wpftmp.AssemblyInfo.cs
StockView/obj/Debug/net6.0-windows/StockView_osxss33x_wpftmp.assets.cache
StockView/obj/Debug/net6.0-windows/StockView_osxss33x_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
StockView/obj/Debug/net6.0-windows/StockView_sii4z54o_wpftmp.AssemblyInfo.cs
StockView/obj/Debug/net6.0-windows/StockView_sii4z54o_wpftmp.AssemblyInfoInputs.cache
StockView/obj/Debug/net6.0-windows/StockView_sii4z54o_wpftmp.assets.cache
StockView/obj/Debug/net6.0-windows/StockView_sii4z54o_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
StockView/obj/Debug/net6.0-windows/StockView_vf1h1bsf_wpftmp.AssemblyInfo.cs
StockView/obj/Debug/net6.0-windows/StockView_vf1h1bsf_wpftmp.AssemblyInfoInputs.cache
StockView/obj/Debug/net6.0-windows/StockView_vf1h1bsf_wpftmp.assets.cache
StockView/obj/Debug/net6.0-windows/StockView_vf1h1bsf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
StockView/obj/Debug/net6.0-windows/StockView_vubyxetg_wpftmp.AssemblyInfo.cs
StockView/obj/Debug/net6.0-windows/StockView_vubyxetg_wpftmp.AssemblyInfoInputs.cache
StockView/obj/Debug/net6.0-windows/StockView_vubyxetg_wpftmp.assets.cache
StockView/obj/Debug/net6.0-windows/StockView_vubyxetg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
StockView/obj/project.assets.json
StockView/obj/Debug/net6.0-windows/StockView_osxss33x_wpftmp.AssemblyInfoInputs.cache
StockView/obj/project.nuget.cache
StockView/obj/StockView.csproj.nuget.dgspec.json
StockView/obj/StockView.csproj.nuget.g.props
StockView/obj/StockView.csproj.nuget.g.targets
StockView/obj/StockView_osxss33x_wpftmp.csproj.nuget.dgspec.json
StockView/obj/StockView_osxss33x_wpftmp.csproj.nuget.g.props
StockView/obj/StockView_osxss33x_wpftmp.csproj.nuget.g.targets
StockView/obj/StockView_sii4z54o_wpftmp.csproj.nuget.dgspec.json
StockView/obj/StockView_sii4z54o_wpftmp.csproj.nuget.g.props
StockView/obj/StockView_sii4z54o_wpftmp.csproj.nuget.g.targets
StockView/obj/StockView_vf1h1bsf_wpftmp.csproj.nuget.dgspec.json
StockView/obj/StockView_vf1h1bsf_wpftmp.csproj.nuget.g.props
StockView/obj/StockView_vf1h1bsf_wpftmp.csproj.nuget.g.targets
StockView/obj/StockView_vubyxetg_wpftmp.csproj.nuget.dgspec.json
StockView/obj/StockView_vubyxetg_wpftmp.csproj.nuget.g.props
StockView/obj/StockView_vubyxetg_wpftmp.csproj.nuget.g.targets
UserControls/obj/Debug/net6.0-windows/UserControls_rjcubgzy_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UserControls/obj/Debug/net6.0-windows/UserControls_rjcubgzy_wpftmp.assets.cache
UserControls/obj/Debug/net6.0-windows/UserControls_rjcubgzy_wpftmp.AssemblyInfoInputs.cache
UserControls/obj/Debug/net6.0-windows/UserControls_rjcubgzy_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_MarkupCompile.i.lref
UIMockup/obj/Debug/net6.0-windows/UIMockup_dh5nyifa_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
UIMockup/obj/Debug/net6.0-windows/UIMockup_dh5nyifa_wpftmp.assets.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_dh5nyifa_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_dh5nyifa_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup.csproj.AssemblyReference.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup.csproj.AssemblyReference.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup.csproj.AssemblyReference.cache
UIMockup/bin/Debug/net6.0-windows/ref/UIMockup.dll
UIMockup/bin/Debug/net6.0-windows/UIMockup.deps.json
UIMockup/bin/Debug/net6.0-windows/UIMockup.dll
UIMockup/bin/Debug/net6.0-windows/UIMockup.exe
UIMockup/bin/Debug/net6.0-windows/UIMockup.pdb
UIMockup/bin/Debug/net6.0-windows/UIMockup.runtimeconfig.json
UIMockup/bin/Debug/net6.0-windows/UserControls.dll
UIMockup/bin/Debug/net6.0-windows/UserControls.pdb
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.cs
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.i.cs
UIMockup/obj/Debug/net6.0-windows/ref/UIMockup.dll
UIMockup/bin/Debug/net6.0-windows/UserControls.pdb
UIMockup/bin/Debug/net6.0-windows/UserControls.dll
UIMockup/bin/Debug/net6.0-windows/UIMockup.runtimeconfig.json
UIMockup/bin/Debug/net6.0-windows/UIMockup.pdb
UIMockup/bin/Debug/net6.0-windows/UIMockup.exe
UIMockup/bin/Debug/net6.0-windows/UIMockup.dll
UIMockup/bin/Debug/net6.0-windows/UIMockup.deps.json
UIMockup/bin/Debug/net6.0-windows/ref/UIMockup.dll
UIMockup/bin/Debug/net6.0-windows/UserControls.pdb
UIMockup/bin/Debug/net6.0-windows/UserControls.dll
UIMockup/bin/Debug/net6.0-windows/UIMockup.runtimeconfig.json
UIMockup/bin/Debug/net6.0-windows/UIMockup.pdb
UIMockup/bin/Debug/net6.0-windows/UIMockup.exe
UIMockup/bin/Debug/net6.0-windows/UIMockup.dll
UIMockup/bin/Debug/net6.0-windows/UIMockup.deps.json
UIMockup/bin/Debug/net6.0-windows/ref/UIMockup.dll
UIMockup/bin/Debug/net6.0-windows/UserControls.dll
UIMockup/bin/Debug/net6.0-windows/UIMockup.runtimeconfig.json
UIMockup/bin/Debug/net6.0-windows/UIMockup.pdb
UIMockup/bin/Debug/net6.0-windows/UIMockup.exe
UIMockup/bin/Debug/net6.0-windows/UIMockup.dll
UIMockup/bin/Debug/net6.0-windows/UIMockup.deps.json
UIMockup/bin/Debug/net6.0-windows/ref/UIMockup.dll
