
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/v17/.futdcache.v1
.vs/BookshopApp/v17/.suo
UIMockup/obj/Debug/net6.0-windows/UC/NavUC.baml
UIMockup/obj/Debug/net6.0-windows/MainWindow.baml
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.cs
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.i.cs
UIMockup/obj/Debug/net6.0-windows/NavUC.g.i.cs
UIMockup/obj/Debug/net6.0-windows/UC/NavUC.g.cs
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.i.cs
UIMockup/obj/Debug/net6.0-windows/ref/UIMockup.dll
UIMockup/obj/Debug/net6.0-windows/UC/NavUC.g.i.cs
UIMockup/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.cs
UIMockup/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.i.cs
UIMockup/obj/Debug/net6.0-windows/MainWindow.baml
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.cs
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.i.cs
UIMockup/obj/Debug/net6.0-windows/ref/UIMockup.dll
UIMockup/obj/Debug/net6.0-windows/UIMockup.csproj.CoreCompileInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup.csproj.FileListAbsolute.txt
UIMockup/obj/Debug/net6.0-windows/UIMockup.dll
UIMockup/obj/Debug/net6.0-windows/UIMockup.g.resources
UIMockup/obj/Debug/net6.0-windows/UIMockup.pdb
UIMockup/obj/Debug/net6.0-windows/UIMockup_0odrvtb1_wpftmp.AssemblyInfo.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_0odrvtb1_wpftmp.AssemblyInfoInputs.cache
UIMockup/obj/Debug/net6.0-windows/UIMockup_0odrvtb1_wpftmp.assets.cache
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/DesignTimeBuild/.dtbcache.v2
.vs/BookshopApp/v17/.futdcache.v1
.vs/BookshopApp/v17/.suo
UIMockup/obj/Debug/net6.0-windows/MainWindow.g.i.cs
UIMockup/obj/Debug/net6.0-windows/UIMockup_MarkupCompile.i.cache
